#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor {
  position: relative;
  aspect-ratio: 16/9;
  background-color: ghostwhite;
  width:1200px;
}

.top-bar {
  display: flex;
  height: 90px;
  background-color: gray;
  padding: 5px;
}

.top-bar button {
  height: 90px;
  width: 90px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(94, 94, 94);
}

.top-bar button img {
  padding: 3px;
  width: 100%;
  height: 100%;
}

.canvas-area {
  background-color: rgba(0, 255, 0, 20%);
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}

.document-tree {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: rgba(0,0,255,20%);
}