#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor {
  position: relative;
  aspect-ratio: 16/9;
  background-color: ghostwhite;
  width: 60vw;
  max-width: 1200px;
  
}

.top-bar {
  display: flex;
  height: 90px;
  background-color: gray;
  padding: 5px;
}

.top-bar button {
  user-select: none;
  height: 90px;
  width: 90px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(94, 94, 94);
}

.top-bar button img {
  padding: 3px;
  width: 100%;
  height: 100%;
}

.canvas-area {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}

.document-tree {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  white-space: pre-line;
  text-align: left;
  z-index: 5;
  pointer-events:stroke;
  overflow-y: scroll;
}

.inspector {
  position: absolute;
  top: 50px;
  right: 25px;
  bottom: 300px;
  width: 150px;
  padding-top: 50px;
  background-color: rgb(26 28 29);
  border-radius: 10px;
  border: 3px solid black;
}

.object-name {
  position: relative;
  margin-top: -50px;
  background-color: rgb(34 38 39);
}

.inspector input {
  max-width: 33px;
}

.document-tree button {
  user-select: none;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.2em 0.3em;
  margin: 0.1em 0.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: ghostwhite;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  transition: border-color 0.25s;
  pointer-events: auto;
}

.document-tree ul {
  padding-inline-start: 20px;
}

.document-tree li {
  list-style-type: none;
}